// Colours
$primary-accent: #1DA3FF;

$primary-light: #F7F7F7;
$primary-dark: #0F0F0F;

// Font families
$ff-primary: 'Space Mono', monospace;

// Font sizes
$fs-nm: 1rem;
$fs-md: 1.5rem;
$fs-lg: 3rem;

// Font weights
$fw-nm: 400;
$fw-b: 900;